<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MeteoServiceWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MeteoServiceWeb.Properties.Settings>
            <setting name="MeteoServiceWeb_net_webservicex_www_GlobalWeather"
                serializeAs="String">
                <value>http://www.webservicex.net/globalweather.asmx</value>
            </setting>
            <setting name="MeteoServiceWeb_net_webservicex_www1_ConvertTemperature"
                serializeAs="String">
                <value>http://www.webservicex.net/ConvertTemperature.asmx</value>
            </setting>
        </MeteoServiceWeb.Properties.Settings>
    </applicationSettings>
</configuration>