<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IG_WebServiceUser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <IG_WebServiceUser.Properties.Settings>
            <setting name="IG_WebServiceUser_localhost_Service" serializeAs="String">
                <value>http://localhost:57407/WebServiceLibrary/Service.asmx</value>
            </setting>
            <setting name="IG_WebServiceUser_com_daehosting_webservices_ISBNService"
                serializeAs="String">
                <value>http://webservices.daehosting.com/services/ISBNService.wso</value>
            </setting>
        </IG_WebServiceUser.Properties.Settings>
    </applicationSettings>
</configuration>